In [30]:
import pandas as pd

In [31]:
data = pd.read_csv('data/Book.csv')

In [32]:
data.head()

   No        Date  SO2  NOx  RSPM  SPM  AQI
0   1  18-06-2015   10   14    43  115   43
1   2  22-06-2015   10   12    40   88   40
2   3  25-06-2015    9   12    36   81   36
3   4  29-06-2015   11   16    51  133   51
4   5  02-07-2015   11   17    55  146   55

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216 entries, 0 to 2215
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      2216 non-null   int64
 1   Date    2216 non-null   object
 2   SO2     2216 non-null   int64
 3   NOx     2216 non-null   int64
 4   RSPM    2216 non-null   int64
 5   SPM     2216 non-null   int64
 6   AQI     2216 non-null   int64
dtypes: int64(6), object(1)
memory usage: 121.3+ KB

In [34]:
data.isnull().sum().sum()

np.int64(0)

In [35]:
data.isnull().sum()

No      0
Date    0
SO2     0
NOx     0
RSPM    0
SPM     0
AQI     0
dtype: int64

In [36]:
data.head()

   No        Date  SO2  NOx  RSPM  SPM  AQI
0   1  18-06-2015   10   14    43  115   43
1   2  22-06-2015   10   12    40   88   40
2   3  25-06-2015    9   12    36   81   36
3   4  29-06-2015   11   16    51  133   51
4   5  02-07-2015   11   17    55  146   55

In [37]:
data = data.drop(labels=['No', 'Date'], axis=1)
data.head()

   SO2  NOx  RSPM  SPM  AQI
0   10   14    43  115   43
1   10   12    40   88   40
2    9   12    36   81   36
3   11   16    51  133   51
4   11   17    55  146   55

In [38]:
data.duplicated().sum()

np.int64(10)

In [39]:
data.drop_duplicates(inplace=True)

In [40]:
data.duplicated().sum()

np.int64(0)

In [41]:
data.shape

(2206, 5)